@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

/* Payment Modal */
/* Keyframe animation to "shoot" towards the top-right corner */
@keyframes shoot-to-view-payments {
  0% {
      transform: translate(0, 0);
      opacity: 1;
  }
  100% {
      transform: translate(1500px, -900px); /* Adjust based on the button's position */
      opacity: 0;
  }
}

.fee-animation {
  position: absolute;
  bottom: 50px;
  left: 50px; /* Adjust the starting position */
  padding: 10px;
  background-color: blue;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  animation: shoot-to-view-payments 1s forwards;
}
